# Python
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
.env/
.venv/
env/
ENV/

# Django
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Graphene / Pytest
.pytest_cache/
.coverage
htmlcov/
.cache/

# VSCode / PyCharm
.vscode/
.idea/

# macOS / Linux
.DS_Store

# Test artifacts
*.cover
coverage.xml
nosetests.xml
